/* Created by: Kukwac
* Created on: May 2025
* This CSS file defines the style for index.html
* Unit4-02-HTML-ColdHot
* This file is used to style the HTML elements in the Guess My Number game.
*/


body {
    background-color: rgb(255, 255, 255);
}


h1 {
    background-color: rgb(75, 91, 121);
    color: hsl(0, 31%, 37%);
    padding: 20px;
    text-align: auto;
}